@model ApplicationUser

@{
    ViewBag.Title = "Update User";
}

<h1>Update User</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateUser" method="post">
            <h4>Update user.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input for="Password" name="Password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>